p {
    color: red;
}

body {
    font-family: sans-serif
}

h1 {
    color: rgb(187, 51, 119);
}

.link {
    text-decoration: none;
    /* убирает подчеркивание из картинки*/
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
    color: cornflowerblue;

}

.main {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}

.up {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;

}

.h2_index_main {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.size_catalog_img {
    border-radius: 50px;
    /* закругляет картинку*/
    width: 200px;
    font-size: 58px;
    line-height: 80px
}

.input_app {
    width: 200px;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    line-height: 30px;

}

.button_app {
    width: 100px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;

}