* {
    margin: 0;
    padding: 0;
}

.up {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.text {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.upper {
    width: 783px;
    height: 268px;
    flex-shrink: 0;
    background: rgba(166, 178, 190, 0.41);
}

.upperWide {
    width: 1449px;
    height: 268px;
    flex-shrink: 0;
    background: url(img/Rectangle\ 2.png), lightgray 50% / cover no-repeat;
    box-sizing: border-box;
}